.table-view {
    -fx-background-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-width: 0 0 1px 0;
}

.table-view,
.table-view .table-cell {
    -fx-border-color: black;
    -fx-border-width: 1px;
}


/* Column-specific styles (optional) */

.product-name-column .table-cell {
    -fx-alignment: center-left;
    -fx-border-width: 0 0 1px 0;
    -fx-background-color: white;
}

.quantity-column .table-cell,
.unit-column .table-cell {
    -fx-alignment: center;
}

.unit-price-column .table-cell,
.total-price-column .table-cell {
    -fx-alignment: center-right;
}

.promotion-name-column .table-cell {
    -fx-alignment: center-left;
}

.promotion-discount-column .table-cell {
    -fx-alignment: center;
}