.table-stack {
    -fx-cursor: hand;
}

.table-stack:hover .hover-buttons {
    -fx-opacity: 1;
}

.hover-buttons {
    -fx-opacity: 0;
    -fx-background-color: rgba(4, 52, 73, 0.6);
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-border-radius: 10; /* Set border radius */
    -fx-transition: opacity 0.3s ease, background-color 0.3s ease;
}

.hover-button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-cursor: hand;
    -fx-padding: 10px;
    -fx-border-width: 0;
    -fx-border-radius: 10; /* Set border radius */
}

.hover-button:hover {
    -fx-background-color: rgba(0, 0, 0, 0.2);
    -fx-transition: background-color 0.3s ease; /* This line is not necessary as transitions are handled globally */
}
.divider {
    -fx-background-color: black;
}

.add-button {
    -fx-pref-height: 23.0;
    -fx-max-height: 23.0;
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 0;
}

.search-button {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.poolReportHeader {
    -fx-font-weight: bold;

}

.add-cate-pooltable-button {
    -fx-font-size: 13;
    -fx-pref-height: 25.0;
    -fx-max-height: 25.0;
    -fx-font-weight: bold;
    -fx-background-color: #212121; /* Initial background color */
    -fx-text-fill: white; /* Text color */
    -fx-padding: 10; /* Optional: padding for better appearance */
    -fx-border-color: transparent; /* Optional: border color */
    -fx-border-radius: 5; /* Optional: border radius for rounded corners */
}

.add-cate-pooltable-button:hover {
    -fx-font-size: 13;
    -fx-pref-height: 25.0;
    -fx-max-height: 25.0;
    -fx-background-color: gray; /* Background color on hover */
    -fx-text-fill: black; /* Text color on hover */
}

.avatar-cell {
    -fx-padding: 5px;
    -fx-alignment: center;
}

.avatar-image {
    -fx-border-color: white; /* Màu viền */
    -fx-border-width: 5px; /* Độ dày viền */
    -fx-border-radius: 50%; /* Làm tròn */
    -fx-background-radius: 50%;
    -fx-effect: dropshadow(gaussian, rgb(255, 255, 255), 2, 1, 0, 0); /* Hiệu ứng đổ bóng */
}

